<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.tyhmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Your Daily Energy Requirement Calculator</title>
</head>
<body>
<p>Welcome Your Daily Basal Energy Requirement Calculator</p>
<p>Harris–Benedict equation</p>

<form th:object="${human}" method="post" action="output">
    <div></div>
    <label>Geschlecht</label>
    <input type="radio" name="gender" th:field="*{male}" value="true"><label>Männlich</label>
    <input type="radio" name="gender" th:field="*{male}" value="false"><label>Weiblich</label>
    </div>
    <div><label>Age</label>
        <input th:field="*{age}" placeholder="Enter your age"/>
    </div>
    <div><label>Height</label>
        <input th:field="*{height}" class="asdasd" id="height" name="height"
               placeholder="Enter your height in Cm"/></div>
    <div><label>Weight</label>
        <input th:field="*{weight}" class="asdasd" id="weight" name="weight"
               placeholder="Enter your weight in Kg"/></div>
    <div>
        <button type="submit">Calculate</button>
    </div>
</form>
</body>
</html>